$goldernRatio: 1.61803398875;
$maincolor: #e84118;
$sligthlyBrigter: #eb5a37;
$bright: #f4a794;
$slightlyDarker: #ab2f11;
$darker: #4e1608;

$maincolor-bg-opacity: 90%;

$font-primary: "Jost", Arial, serif;
$font-forHeadings: "Kaushan Script", cursive;

$font-desc-color: #aaa;

* {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
}

h1 {
    font-family: $font-forHeadings;
}

h1,
h2 {
    text-align: center;
}

$headerheight: 300px;

section {
    width: 100vw;
}

.profileAvatarRegion {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;
    background-image: url("../../vendors/images/computer-blurred.jpg");
    background-size: cover;
    .blendcolor {
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: $maincolor;
        //mix-blend-mode: screen;
        opacity: $maincolor-bg-opacity;
    }
    .innerCenter {
        display: flex;
        //display: inline-block;
        height: 62%;
        width: 62%;
        position: relative;
        left: 19%; // 50% - (62/2)%
        top: 19%;

        .alignedChildren {
            width: 100%;
            margin: auto;

            span {
                vertical-align: middle;
                display: inline-block;
                margin: auto;
                width: 100%;
                .avatarImg {
                    display: block;
                    width: 256px;
                    margin: auto;
                    border-radius: 50%;
                }
            }

            p {
                text-align: center;
                font-size: 18px;
                font-family: $font-primary;
                color: white;
            }

            h1 {
                text-align: center;
                display: inline-block;
                width: 100%;
                color: #fff;
                font-weight: 800;
                font-family: $font-forHeadings;
                font-style: italic;
                font-size: 64px;
                margin: auto;
            }

            .social {
                width: 300px;
                a {
                    display: block;
                    margin: 0 25%;
                    color: white;
                    i {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .profileAvatarRegion {
        .innerCenter {
            .alignedChildren {
                span {
                    vertical-align: middle;
                    display: inline-block;
                    width: 100%;
                    .avatarImg {
                        width: 64px;
                    }
                }
                h1 {
                    font-size: 16px;
                }
                .social {
                    width: 90px;

                    a {
                        display: block;
                        margin: 6px auto;
                        width: 16px;
                        color: white;
                        i {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.innerCenter {
    display: block;
    width: 62%;
    height: 62%;
}

/*
.shortBio {
    display: inline-block;
    width: 60vw;
    height: 28vw;
    margin: 0;
    margin-top: 30px;
}*/

/*
.sectionContainer {
    /*
    :nth-child(odd of section) {
        background-color: white;
        color: $font-desc-color;
    }
    :nth-child(even of section) {
        background-color: transparentize($color: $maincolor, 0.1);
        color: white;
    }

    :nth-child(1) {
        margin: 0 0 10px;
    }

    /*
    section {
        display: block;
        margin: 10px 0;
    }*/
//}

.contentContainer {
    margin: 0;
    padding: 30px 0;

    h1 {
        font-weight: 900;
        font-size: 64px;
    }
    h2 {
        font-weight: 600;
        font-size: 32px;
    }
    p {
        font-weight: 500;
    }
}

.odd {
    background-color: white;
    //color: $maincolor;

    h1,
    h2,
    h3,
    p {
        color: $maincolor;
        opacity: 90%;
    }
}

.even {
    background-color: transparentize($color: $maincolor, $amount: 0.1);
    //color: white;

    h1,
    h2,
    h3,
    p {
        color: white;
    }
}

.longDescription {
    padding: 0 25%;
}

.timeline {
    width: 200px;
    position: absolute;
    border-top: 3px solid transparentize($color: $maincolor, $amount: 0.1);
    border-left: 3px solid transparentize($color: $maincolor, $amount: 0.1);
}

hr {
    border-top: 2px solid transparentize($color: $maincolor, $amount: 0.1);
}

#education,
#work,
#freeTime {
    font-family: Helvetica, Arial, sans-serif;

    * {
        font-family: Helvetica, Arial, sans-serif;
    }
}

/*
.services {
    .row {
        .col {
            margin: 20px;
            
            * {
                margin: 0 auto;
                width: 255px;
            }
        }
    }
}
*/

.services {
    .row {
        .col-md {
            * {
                text-align: center;
            }

            i {
                display: inline-block;
                margin: 16px;
                font-size: 32px;
                color: $maincolor;
            }

            div {
                margin: 0 auto;
                display: block;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                background-color: white;
            }
        }
    }
}

.skills {
    .row {
        .col-sm {
            div {
                display: block;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                img {
                    width: 32px;
                }
            }
            h3 {
                text-align: center;
            }
        }
    }
}
