* {
  margin: 0;
  padding: 0;
}

section {
  width: 100vw;
}

.profileAvatarRegion {
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0;
  padding: 0;
  background-image: url("../../vendors/images/computer-blurred.jpg");
  background-size: cover;
}

.profileAvatarRegion .blendcolor {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #e84118;
  opacity: 90%;
}

.profileAvatarRegion .innerCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 62%;
  width: 62%;
  position: relative;
  left: 19%;
  top: 19%;
}

.profileAvatarRegion .innerCenter .alignedChildren {
  width: 100%;
  margin: auto;
}

.profileAvatarRegion .innerCenter .alignedChildren span {
  vertical-align: middle;
  display: inline-block;
  margin: auto;
  width: 100%;
}

.profileAvatarRegion .innerCenter .alignedChildren span .avatarImg {
  display: block;
  width: 256px;
  margin: auto;
  border-radius: 50%;
}

.profileAvatarRegion .innerCenter .alignedChildren p {
  text-align: center;
  font-size: 18px;
  font-family: "Jost", Arial, serif;
  color: white;
}

.profileAvatarRegion .innerCenter .alignedChildren h1 {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #fff;
  font-weight: 800;
  font-family: "Kaushan Script", cursive;
  font-style: italic;
  font-size: 64px;
  margin: auto;
}

.profileAvatarRegion .innerCenter .alignedChildren .social {
  width: 300px;
}

.profileAvatarRegion .innerCenter .alignedChildren .social a {
  display: block;
  margin: 0 25%;
  color: white;
}

.profileAvatarRegion .innerCenter .alignedChildren .social a i {
  font-size: 32px;
}

@media only screen and (max-width: 600px) {
  .profileAvatarRegion .innerCenter .alignedChildren span {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
  }
  .profileAvatarRegion .innerCenter .alignedChildren span .avatarImg {
    width: 64px;
  }
  .profileAvatarRegion .innerCenter .alignedChildren h1 {
    font-size: 16px;
  }
  .profileAvatarRegion .innerCenter .alignedChildren .social {
    width: 90px;
  }
  .profileAvatarRegion .innerCenter .alignedChildren .social a {
    display: block;
    margin: 6px auto;
    width: 16px;
    color: white;
  }
  .profileAvatarRegion .innerCenter .alignedChildren .social a i {
    font-size: 16px;
  }
}

.innerCenter {
  display: block;
  width: 62%;
  height: 62%;
}

/*
.shortBio {
    display: inline-block;
    width: 60vw;
    height: 28vw;
    margin: 0;
    margin-top: 30px;
}*/
/*
.sectionContainer {
    /*
    :nth-child(odd of section) {
        background-color: white;
        color: $font-desc-color;
    }
    :nth-child(even of section) {
        background-color: transparentize($color: $maincolor, 0.1);
        color: white;
    }

    :nth-child(1) {
        margin: 0 0 10px;
    }

    /*
    section {
        display: block;
        margin: 10px 0;
    }*/
.contentContainer {
  margin: 20px;
  padding: 5px 0;
}

.contentContainer h1 {
  font-weight: 900;
  font-size: 64px;
}

.contentContainer h2 {
  font-weight: 600;
  font-size: 32px;
}

.contentContainer p {
  font-weight: 500;
}

.odd {
  background-color: white;
}

.odd h1,
.odd h2,
.odd p {
  color: #e84118;
  opacity: 90%;
}

.even {
  background-color: rgba(232, 65, 24, 0.9);
}

.even h1,
.even h2,
.even p {
  color: white;
}
/*# sourceMappingURL=style.css.map */